<%- include('../partials/header') %>

<h2>My Activities</h2>

<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Title</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Pace</th>
        </tr>
    </thead>
    <tbody>
        <% workouts.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(function(workout) { %>
            <% if (workout.user.equals(userId)) { %>
            <tr>
                <td><%= workout.activity %></td>
                <td><%= (() => { 
                        const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                
                        let date = new Date(workout.date);
        
                        let dayName = daysOfWeek[date.getDay()];
                        let year = date.getFullYear();
                        let month = (date.getMonth() + 1).toString().padStart(2, '0');
                        let day = date.getDate().toString().padStart(2, '0');
                        let hours = date.getHours().toString().padStart(2);
                        let minutes = date.getMinutes().toString().padStart(2, '0');
        
                        return `${dayName}, ${year}-${month}-${day}`;
                    }) () %>
                </td>
                <td><a href="/workouts/<%= workout._id %>" id="workout-title">
                    <%= workout.title %>
                </a></td>
                <td><%= (() => {
                        let formattedHours = String(workout.hours || 0).padStart(2);
                        let formattedMinutes = String(workout.minutes || 0).padStart(2);
                        let formattedSeconds = String(workout.seconds || 0).padStart(2, '0');

                        if (formattedHours === ' 0' && formattedMinutes === ' 0') {
                            return `${formattedSeconds}s`;
                        } else if (formattedHours === ' 0') {
                            return `${formattedMinutes}:${formattedSeconds}`;
                        } else if (formattedMinutes === ' 0') {
                            return `${formattedHours}:00:${formattedSeconds}`;
                        } else {
                            return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
                        }
                    }) () %>
                </td>
                <td><%= workout.distance %> <%= workout.metric %></td>
                <td><%= (() => { 
                        let hoursToSeconds = (workout.hours) * 3600;
                        let minutesToSeconds = (workout.minutes) * 60;
                        let time = hoursToSeconds + minutesToSeconds + (workout.seconds);
                        let paceInSeconds = time / (workout.distance);

                        let paceHours = Math.floor(paceInSeconds / 3600);
                        let paceMinutes = Math.floor((paceInSeconds % 3600) / 60);
                        let paceSeconds = Math.floor(paceInSeconds % 60);

                        if (paceHours === 0 && paceMinutes === 0) {
                            return `${paceSeconds}s`
                        } else if (paceHours === 0) {
                            return `${paceMinutes.toString().padStart(2)}:${paceSeconds.toString().padStart(2, '0')}`;
                        } else {
                            return `${paceHours.toString().padStart(2, '0')}:${paceMinutes.toString().padStart(2, '0')}:${paceSeconds.toString().padStart(2, '0')}`;
                        }
                    }) () %>/<%= workout.metric %>
                </td>
            </tr>
            <% } %>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>