<%- include('../partials/header') %>

<h2><%= workout.title %></h2>

<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date & Time</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= workout.activity %></td>
            <td><%= (() => { 
                    let date = new Date(workout.date);
                    let year = date.getFullYear();
                    let month = (date.getMonth() + 1).toString().padStart(2, '0');
                    let day = date.getDate().toString().padStart(2, '0');
                    let hours = date.getHours().toString().padStart(2, '0');
                    let minutes = date.getMinutes().toString().padStart(2, '0');
                    return `${year}-${month}-${day} ${hours}:${minutes}`;
                }) () %>
            </td>
            <td><%= (() => {
                let formattedHours = String(workout.hours || 0).padStart(2, '0');
                let formattedMinutes = String(workout.minutes || 0).padStart(2, '0');
                let formattedSeconds = String(workout.seconds || 0).padStart(2, '0');
                return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
            }) () %>
            </td>
            <td><%= workout.distance %> mi</td>
            <td><%= (() => { 
                let hourscon = (workout.hours) * 3600;
                let minutescon = (workout.minutes) * 60;
                let time = hourscon + minutescon + (workout.seconds);
                let paceInSeconds = time / (workout.distance);

                let paceHours = Math.floor(paceInSeconds / 3600);
                let paceMinutes = Math.floor((paceInSeconds % 3600) / 60);
                let paceSeconds = Math.floor(paceInSeconds % 60);

                return `${paceHours.toString().padStart(2, '0')}:${paceMinutes.toString().padStart(2, '0')}:${paceSeconds.toString().padStart(2, '0')}`;
            }) () %>/mi
            </td>
        </tr>
    </tbody>
</table>

<% if (user?._id.equals(workout.user)) { %>
    <a href="/workouts/<%= workout._id %>/edit" class="button">
        <button>Edit</button>
    </a>
    <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
<% } %>

<br><br><form action="/workouts/<%= workout._id %>/comments" method="POST">
    <textarea name="comment" id="comment"></textarea><br>
    <button type="submit">Add Comment</button>
</form>
<table>
    <tbody>
        <% workout.comments.forEach(function(comment) { %>
        <tr>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td class="review-user"><img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer"><%= comment.userName %></td>
            <td><%= comment.comment %></td>
            <td>
                <% if (user?._id.equals(comment.user)) { %>
                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>