<%- include('../partials/header') %>

<h2><%= workout.title %></h2>

<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date & Time</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= workout.activity %></td>
            <td><%= (() => { 
                    let date = new Date(workout.date);
                    let year = date.getFullYear();
                    let month = (date.getMonth() + 1).toString().padStart(2, '0');
                    let day = date.getDate().toString().padStart(2, '0');
                    let hours = date.getHours().toString().padStart(2, '0');
                    let minutes = date.getMinutes().toString().padStart(2, '0');
                    return `${year}-${month}-${day} ${hours}:${minutes}`;
                }) () %>
            </td>
            <td><%= workout.hours %>:<%= workout.minutes %>:<%= workout.seconds %></td>
            <td><%= workout.distance %> mi</td>
            <td><% (() => { 
                    let hourscon = (workout.hours) * 60 * 60;
                    let minutescon = (workout.minutes) * 60;
                    let time = hourscon + minutescon + (workout.seconds);
                    return time / (workout.distance);
                }) () %>
            </td>
        </tr>
    </tbody>
</table>

<a href="/workouts/<%= workout._id %>/edit" class="button">
    <button>Edit</button>
</a>
<form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>

<br><br><form action="/workouts/<%= workout._id %>/comments" method="POST">
    <textarea name="comment" id="comment"></textarea><br>
    <button type="submit">Add Comment</button>
</form>
<table>
    <tbody>
        <% workout.comments.forEach(function(comment) { %>
        <tr>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td class="review-user"><img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer"><%= comment.userName %></td>
            <td><%= comment.comment %></td>
            <td>
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>