<%- include('./partials/header') %>

<% if (user) { %>
<h2>Prova</h2>

    <% workouts.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(function(workout) { %>
    <div class="post">
        <div class="user"><img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer"><%= workout.userName %></div>
        <div class="date"><%= (() => { 
                let date = new Date(workout.date);
                let today = new Date();
                let yesterday = new Date();
                yesterday.setDate(today.getDate() - 1);

                let year = date.getFullYear();
                let month = (date.getMonth() + 1).toString().padStart(2, '0');
                let day = date.getDate().toString().padStart(2, '0');
                let hours = date.getHours().toString().padStart(2);
                let minutes = date.getMinutes().toString().padStart(2, '0');

                if (
                    date.getFullYear() === today.getFullYear() &&
                    date.getMonth() === today.getMonth() &&
                    date.getDate() === today.getDate()
                ) {
                    return `Today at ${hours}:${minutes}`;
                } else if (
                    date.getFullYear() === yesterday.getFullYear() &&
                    date.getMonth() === yesterday.getMonth() &&
                    date.getDate() === yesterday.getDate()
                ) {
                    return `Yesterday at ${hours}:${minutes}`;
                } else {
                    return `${year}-${month}-${day} at ${hours}:${minutes}`;
                }
            }) () %>
        </div><br>
        <div class="workout-details">
            <a href="/workouts/<%= workout._id %>" id="activity-title">
                <%= workout.title %>
            </a>
            <div class="time-distance-pace">
                <div class="data-container">
                    <div class="workout-label">Time</div>
                    <div class="workout-data">
                        <%= (() => {
                            let formattedHours = String(workout.hours || 0).padStart(2);
                            let formattedMinutes = String(workout.minutes || 0).padStart(2);
                            let formattedSeconds = String(workout.seconds || 0).padStart(2, '0');

                            if (formattedHours === ' 0' && formattedMinutes === ' 0') {
                                return `${formattedSeconds}s`;
                            } else if (formattedHours === ' 0') {
                                return `${formattedMinutes}:${formattedSeconds}`;
                            } else if (formattedMinutes === ' 0') {
                                return `${formattedHours}:00:${formattedSeconds}`;
                            } else {
                                return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
                            }
                        }) () %>
                    </div>
                </div>
                <div class="data-container">
                    <div class="workout-label">Distance</div>
                    <div class="workout-data">
                        <%= workout.distance %> <%= workout.metric %>
                    </div>
                </div>
                <div class="data-container">
                    <div class="workout-label">Pace</div>
                    <div class="workout-data">
                        <%= (() => { 
                            let hoursToSeconds = (workout.hours) * 3600;
                            let minutesToSeconds = (workout.minutes) * 60;
                            let time = hoursToSeconds + minutesToSeconds + (workout.seconds);
                            let paceInSeconds = time / (workout.distance);
        
                            let paceHours = Math.floor(paceInSeconds / 3600);
                            let paceMinutes = Math.floor((paceInSeconds % 3600) / 60);
                            let paceSeconds = Math.floor(paceInSeconds % 60);
        
                            if (paceHours === 0 && paceMinutes === 0) {
                                return `${paceSeconds}s`
                            } else if (paceHours === 0) {
                                return `${paceMinutes.toString().padStart(2)}:${paceSeconds.toString().padStart(2, '0')}`;
                            } else {
                                return `${paceHours.toString().padStart(2, '0')}:${paceMinutes.toString().padStart(2, '0')}:${paceSeconds.toString().padStart(2, '0')}`;
                            }
                        }) () %>/<%= workout.metric %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
<% } %>

<%- include('./partials/footer') %>
