<%- include('../partials/header') %>

<h2>Likes</h2>

<table>
    <tbody>
        <% workout.likes.forEach(function(like) { %>
        <tr>
            <td class="user"><img alt="avatar" src="<%= like.userAvatar %>" referrerpolicy="no-referrer"><%= like.userName %></td>
        </tr>
        <% }); %>
    </tbody>
</table><br>

<a href="/workouts/<%= workout._id %>" class="link">Return</a>

<%- include('../partials/footer') %>